<!DOCTYPE html>
<html  lang="ro">
    <head>
        
        <meta name = "keywords" content = "Romania, andrea, croseta, lana, crosetat,
        tricotat, fiber arts, fiber shop, accesorii, creatie, diy, small business">
       <meta name = "description" content = "Magazin pentru pasionatii de lucru manual cu fibra. 
       Lana, andrele, crosete, accesorii si inspiratie.">
        <title> Knit Wit</title>
        <%- include("../fragmente/head.ejs")  %>
        <link rel="stylesheet" href="/resurse/css/reduceri.css" type="text/css" />

    </head>
    <body>
    <%- include("../fragmente/header.ejs")  %>
    <main>
            <div class="d-flex flex-column align-items-center justify-content-center">
                <br><br><br>
                <div id="texte" class="d-flex flex-row justify-content-center">
                    <div id="text">ReDuCeRi!</div>
                    <div id="text-reflectat">ReDuCeRi!</div>
                </div>
                <br><br><br>
                <div id="reduceri" >
                    <section id="imagine">
                    </section>
                </div>
            </div>
    </main>

    <%- include("../fragmente/footer.ejs")  %>

    </body>
</html>