<!DOCTYPE html>
<html  lang="ro">
    <head>
        
        <meta name = "keywords" content = "Romania, andrea, croseta, lana, crosetat,
        tricotat, fiber arts, fiber shop, accesorii, creatie, diy, small business">
       <meta name = "description" content = "Magazin pentru pasionatii de lucru manual cu fibra. 
       Lana, andrele, crosete, accesorii si inspiratie.">
        <title> Knit Wit</title>
        <%- include("../fragmente/head.ejs")  %>
        <link rel="stylesheet" href="/resurse/css/reduceri.css" type="text/css" />

    </head>
    <body>
    <%- include("../fragmente/header.ejs")  %>
    <main>
        <div id="reduceri">
            <h1 id="text-reduceri">ReDuCeRi!!!!!!!!!!!!!!!!!!!!!</h1>
            <picture id="poza-reduceri">
                <img src="./resurse/imagini/reduceri.jpg" alt="text">
            </picture>
        </div>
    </main>

    <%- include("../fragmente/footer.ejs")  %>

    </body>
</html>