<footer>
    <div id="tooltip">
        <div id="triunghi"><a href="#">&#5123;</a></div>
        <div id="text-explicativ">SUS</div>
    </div>
    <h2>Ne gasesti aici:</h2>
    <a href="#Pagina_Principala">Pagina Principala</a><br>
    <a href="https://www.instagram.com/knitwityarnshop/" target="_blank">Instagram</a>
    <a href="tel:+40741234567">0741234567</a> 
    <a href="whatsapp://send?phone=+0743645758">WhatsApp</a>
    <a href="mailto:KnitWit@gmail.com" target="_blank">KnitWit@gmail.com</a><br>
    <address>
        <a href="https://goo.gl/maps/dRE9NbEUcax19jQL9" target="_blank">Strada Academiei nr 14, Bucuresti, 010014</a>
    </address>
    <small class="text-secondary">  
        &copy; Copyright KnitWit - <time datetime="2023-02-26">1 Ianuarie 2023</time> - All Rights Reserved.
    </small>
    <div id="banner-container">
        <p id="banner" class="justify-content-center align-items-center">Acesta este un proiect scolar. Acceptati cookies?<button id="ok_cookies">OK</button></p>
    </div>
</footer>