<form id="form_inreg"  method="post" class="date"  action="<%= locals.action %>"  enctype="multipart/form-data" >
    <p style="display: inline;">
        <label>
            *Username: <input type="text" name="username" id="inp-username" value="user<%= Math.floor(Math.random()*100000) %>" required pattern="[a-zA-Z]{1}[a-zA-Z0-9]{0,5}[0-9]{4}$">
        </label>
        <div>*Maxim 10 caractere dintre prima trebuie sa fie o litera iar ultimele 4, cifre.</div>
    </p>
    <p style="display: inline;">
        <label>
            **Nume: <input type="text" name="nume" id="inp-nume"  value="Gogulescu" required pattern="[A-Z].*$">
        </label>
        <div>**Primul caracter trebuie sa fie o litera mare.</div>

    </p>
    <p>
        <label>
            Prenume: <input type="text" name="prenume" id="inp-prenume" value="Gogu"  required>
        </label>
    </p>
    <p style="display: inline;">
        <label>
            ***Parola: <input id="parl" type="password" required pattern="(?=.*[A-Z])(?=.*[\W]).*$" name="parola" value="">
        </label>
        <div>***Parola trebuie sa contina cel putin o litera mare si un caracter special.</div>
    </p>
    <p id="p-reintrod">
        <label >
            Reintroduceti parola: <input id="rparl" required type="password" name="rparola" value="">
        </label>
    </p>
    <p>
        <label>
            Email: <input type="text" name="email" id="inp-email" required value="user_knit_wit@gmail.com"  size="50">
        </label>
    </p>
    <p>
        <label>
            Data nasterii: <input type="date" name="data_nastere" id="inp-data_nasterii" min="1900-01-01" max="2023-01-01" step="1" value="2000-01-01">
        </label>
    </p>
    <p>
        <label>
            Tema preferata a paginii: 
            <select name="tema" id="sel-tema">
                <option value="light" selected>clasic</option>
                <option value="dark">dark</option>
                <option value="happy">happy</option>
            </select>
        </label>
    </p>
    <p>
        <label>
            Culoare text chat: 
            <select name="culoare_chat" id="sel-culoare">
                <option value="red" selected>negru</option>
                <option value="green">verde</option>
                <option value="blue">albastru</option></select>
        </label>
    </p>
    <p>
        <label>
            Poza: <input type="file" name="poza">
        </label>			
    </p>
    <p>		
        <input type="submit" value="Trimite">
        <input type="reset" value="Reseteaza">
    </p>
</form>