<header id="Pagina_Principala">
    <h1 >Knit Wit <span id ="heart" class="fa-solid fa-heart"></span></h1></br>
    <q>We don’t make mistakes, just happy little accidents.</q>
    <cite>Bob Ross</cite>
</header>

    <nav >
        <ul class="meniu">

            <li><a href="#Pagina_Principala"><div id ="pag-prin-text">Pagina Principala</div>
                <span id="house" class="fa-solid fa-house"></span></a>
            </li>
            <li><a href="#Lana">Produsele Noastre</a>
                <ul>
                    <li><a href="#Lana">Lana</a></li>
                    <li><a href="#Accesorii">Accesorii</a></li>
                </ul>
                </li>

                <!-- <li><a href="/produse">Produsele Noastre</a>
                    <ul>
                        <li><a href="/produse?tip=lana">Lana</a></li>
                        <li><a href="/produse?tip=accesorii">Accesorii</a></li>
                    </ul>
                </li> -->
            <li><a href="#Contul_Tau">Contul Tau</a></div>
                <ul>
                    <li><a href="#Creeaza-ti_un_Cont">Creeza-ti un Cont</a></li>
                    <li><a href="#ComenzileTale">Comenzile Tale</a></li>
                </ul> 
            </li>
        </ul>
    </nav>
